<footer>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <div class="footer-container">
        <div class="footer-column footer-logo-col">
            <a href="/" class="logo-link footer-logo-link">
                <img src="{{ url_for('static', filename='images/WhatsApp Image 2025-07-01 at 23.10.28.jpeg') }}" alt="Otel Logo" class="logo-img footer-logo-img">
                <span class="footer-logo-title">Altun Pansiyon</span>
            </a>
            <p>&copy; 2025 Altun Pansiyon. Tüm hakları saklıdır.</p>
            <p>Selçuk, Selçuk Mah No:34, 07100 Muratpaşa/Antalya</p>
            <a href="mailto:altunboutique07@gmail.com">altunboutique07@gmail.com</a><br>
                <a href="tel:+905395866888">+90 539 586 6888</a>
        </div>
        <div class="footer-column">
            <h3>Site Haritası</h3>
            <ul>
                <li><a href="/">Anasayfa</a></li>
                <li><a href="/rooms">Odalar</a></li>
                <li><a href="/reserve">Rezervasyon</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Bizi Takip Edin</h3>
            <ul class="social-icons">
                <li><a href="https://www.instagram.com/pansiyon_altun_family/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>
</footer>
